* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: #212121;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
  margin: 0;

  font-size: 14px;
}

header {
  padding: 20px;

  background-color: #2196F3;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);

  font-size: 16px;

  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;

  z-index: 2;
}

header label {
  color: #FFFFFF;
}

header a {
  color: #BBDEFB;
  text-decoration: none;
}

header a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

header .config-mark-read {
  margin-left: 20px;
  color: #FFFFFF;
}

header .config-mark-read.disabled {
  text-decoration: line-through;
  color: #BBDEFB;
}

header .signout {
  float: right;
  color: #FFFFFF;
}

footer {
  clear: both;
}

section {
  width: 100%;
  height: 100%;
  padding: 0px 5px;
  padding-bottom: 100px;
  margin-top: 66px;
}

section .spinner {
  margin-top: 100px;
}

section ul {
  margin: 0;
  padding: 0;
}

section li {
  list-style: none;
  padding: 20px;
  cursor: pointer;
  width: 33.33333%;
  height: 130px;
  float: left;
  background-color: white;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border: 5px solid white;
}

section li:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 1;
}

section li * {
  color: #727272;
}

section li a {
  display: none;
  position: absolute;
  bottom: 20px;
  font-size: 0.8em;
  color: #727272;
  text-decoration: none;
}

section li time {
  font-size: 0.8em;
  color: #B6B6B6 !important;
}

section li a.mark-read, section li a.mark-unread {
  right: 20px;
}

section li a.add-star, section li a.remove-star {
  right: 100px;
}

section li a:hover {
  color: #212121;
  text-decoration: underline;
}

section li.STARRED {
  border-color: #FFC107;
}

section li.UNREAD *, section li.selected * {
  color: #212121;
}

section li:hover .mark-unread {
  display: block;
}

section li:hover .mark-read {
  display: none;
}

section li.UNREAD:hover .mark-unread {
  display: none;
}

section li.UNREAD:hover .mark-read {
  display: block;
}

section li:hover .remove-star {
  display: none;
}

section li:hover .add-star {
  display: block;
}

section li.STARRED:hover .remove-star {
  display: block;
}

section li.STARRED:hover .add-star {
  display: none;
}


section li h4 {
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

section li p {
  margin-top: 5px;
  font-weight: 300;
}

section a.next-page {
  padding: 50px;
  float: left;
  font-size: 2em;
  text-decoration: none;
  color: #2196F3;
}

section a.next-page:hover {
  text-decoration: underline;
}

#splash h1 {
  font-size: 3em;
}


#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 3;

    top: 0px;
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#splash > div {
    max-width: 50%;
    text-align: center;
    margin-top: -10%;
}

#splash button {
  margin: 0 auto;
}

#splash span {
  display: block;
  font-size: 3em;
}

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 1 */
.btn-1 {
    border: 3px solid #fff;
    color: #fff;
}

.btn-1a {
    background-color: #2196F3;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
    color: #0e83cd;
    background: #fff;
    border-color: #2196F3;
}

.spinner {
  width: 72px;
  height: 72px;
  background-color: #2196F3;
  clear: both;

  margin: 0px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@media screen and (max-width: 1024px) {
    #splash h1 {
      font-size: 2em;
    }

    #splash > div {
      max-width: 90%;
    }

    a:hover {
      text-decoration: none !important;
    }

    header {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #BBDEFB;
      padding: 15px;
    }

    section li .mark-unread {
      display: block;
    }

    section li .mark-read {
      display: none;
    }

    section li.UNREAD .mark-unread {
      display: none;
    }

    section li.UNREAD .mark-read {
      display: block;
    }

    section li .remove-star {
      display: none;
    }

    section li .add-star {
      display: block;
    }

    section li.STARRED .remove-star {
      display: block;
    }

    section li.STARRED .add-star {
      display: none;
    }

}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  section li {
    width: 50%;
    height: 130px;
    box-shadow: none !important;
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  section li {
    width: 100%;
    height: auto;
    box-shadow: none !important;
  }

  header .config-mark-read, header .signout {
    display: none;
  }
}